footer {
  font-family: "Noto Sans", sans-serif;
  position: fixed;
  margin-top: 5%;
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  bottom: 0;
  padding: 4px 0;
  margin: 0;
  font-size: 14px;
  background-color: #263238;
  color: white;
}

footer a,
footer a:after {
  text-decoration: underline;
  color: white;
}

footer p {
  color: white;
}
