.header {
  height: 24em;
  background: url(assets/header.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.header h1,
.header h3 {
  color: white;
  display: block;
  letter-spacing: 0.1em;
  text-align: center;
  text-shadow: 1px 2px 1px black;
  font-family: "Aleo", serif;
  display: block;
}

.header h1 {
  font-size: 3em;
  padding-top: 2em;
  font-weight: 700;
}
.header h3 {
  font-weight: 300;
  font-size: 1.8em;
  padding-top: 1em;
}
.links {
  float: right;
  margin-top: 0.6em;
}
.link-btn {
  font-family: "Noto Sans", sans-serif;
  background-color: #455a64;
  color: white;
  width: 6em;
  padding: 0.4em;
  font-size: 1em;
  display: inline-block;
  text-align: center;
  margin: 0.2em;
  text-decoration: none;
  transition: 0.3s;
}

.link-btn:hover {
  font-family: "Noto Sans", sans-serif;
  background-color: white;
  color: #607d8b;
  transition: 0.3s;
}

.icons {
  margin: 0 1em;
  text-align: left;
}
.fab {
  color: white;
  padding: 0.4em;
  transition: 0.3s;
}

.fab:hover {
  color: pink;
  transition: 0.3s;
}

@media only screen and (max-width: 600px) {
  .header {
    height: 15em;
    min-width: 10em;
  }
  .header h1 {
    font-size: 2em;
    padding-top: 0;
  }
  .header h3 {
    font-size: 1em;
    padding-top: 0.4em;
  }
  .icons {
    text-align: center;
  }
  .links {
    float: center;
  }
}
