.action-btn {
  display: inline;
}
.action-btn button {
  background-color: #455a64;
  color: white;
  width: 10em;
  padding: 0.6em;
  font-size: 1em;
  display: inline-block;
  text-align: center;
  margin: 0 1.4em;
  transition: 0.3s;
}

.action-btn button:hover {
  background-color: #607d8b;
  box-shadow: 3px 3px 3px #607d8b;
  transition: 0.3s;
}
